* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* color palette is from ColorKit */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #565751;
    background-color: #bfb7a4;
    line-height: 1.5;
}

header {
    padding: 20px 10% 20px 0;
    background-color: #d4dedd;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;
}

header h1 {
    padding: 8px 2% 8px 8%;
    font-size: 35px;
    background-color: #abb4ae;
}

header h1 span {
    color:  rgb(131, 76, 76);
    font-weight: bolder;
}

/* ref. Challenge 1 */
header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    float: left;
    display: flex;
    flex: wrap;
}

header nav a {
    color: #565751;
    font-weight: bold;
    padding: 3px 3px;
    transition: all 1s;
    font-size: 20px;
    text-decoration: solid;
    margin: 28px;
}

/* ref. 09-Psuedo-Elements */
nav a:hover {
    color: #d4dedd;
    display: inline;
    border-radius: 30px 10px;
    background-color: #565751;
    background-size: 100%;
}